*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header, .main{
    max-width: 40rem;
    margin:0 auto;
    padding: 1rem;
}

.header {
    display: flex;
    background: #000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius:  6px 6px 0px 0px;
}
.header_link{
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease-in-out;
}
.header_link:hover{
    color: #a0cef9;
}
.header_logo {
    margin: 0;
    font-size: 1.5rem;
}
.form{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.form_input{
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border: 3px solid #bbb;
    background-color: #fafafa;
    margin-bottom: 1rem;
}

.form_button {
    font-size: inherit;
    background-color: #26C281;
    cursor:pointer;
    border-radius: 6px;
    border:none;
    padding: 0.5rem 2.5rem;
    align-self: stretch;
    transition: 0.3s ease-in-out;
}
.form_button:hover {
    filter:saturate(1.5);
    transform: scale(1.05);
}
.date_link--current {
    background-color: #c99505;
}